/* FOOTER */
footer {
    background-color: #dedede;
    text-align: center;
    padding: 40px 0;
    color: #666;
    width: 100%;
}

/* HEADER */

nav {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #eee;
    border-radius: 4px;
    margin-bottom: 20px;
    flex-direction: row;
}
.nav {
    margin: 0 !important;
}
.nav a{
    color: #444;
    text-decoration: none;
}
.nav a:hover{
    font-weight: bold;
    
}
.nav li{
    list-style: none;
    display: flex;
    flex-direction: row;

}

.logo {
    width: 150px;
    height: auto;
}

/* REGISTRO */


